/* NAVIGATION */

.navBackground {
	position:fixed;
	top: 0;
	width: 100%;
	height: 76px;
	background-color: #848a90;
	z-index: 3;

	visibility: hidden;
}

.nav .home {
	position: fixed;
	left: 0;
}

.nav .home img {
	float:left;
	display: inline-block;	
	height: 76px;
	padding-left: 150px;
}

.nav {
	font-weight: 700;
	color: #fff;
	padding-top: 0px;
	position:fixed;
	z-index: 7;
}

.nav .links {
	float: right;
	display: inline-block;
	position:fixed;
	right: 0;
	height: 70px;
	letter-spacing: 5px;
	font-size: 25px;
}

.nav .links ul {
	list-style-type: none;
}

.nav .links li {
	display: inline;
	padding-left: 50px;
	cursor:pointer;
	padding:10px 35px 16px 0px;
}

#nav-toggle {
}

#nav-toggle span {
	z-index:15;
	position: fixed;
    top: 36px;
    right: 35px;
    display: inline-block;
    cursor:pointer;
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	padding-right: 75px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/****************************** Portfolio Nav Slider */
/* Activated by hamburger portfolio menu item*/

.printMargin {
	margin-top: -16px;
}

.navSlider {
	background-color: #404041;
	opacity: 0.90;
	position:fixed;
	width: 308px;
	height: 100%;

	z-index: 5;
}

.middle-section {
	width: calc(100% - 100px);
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

}

.navSlider li h2 {
	color: #a39a95;
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: bold;
	border-bottom: none;
	transform: none;
	left: 0;
}

.navSlider li {
	font-size: 1vw;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
}

.navSlider li a {
	text-decoration: none;	
	color: #a3a4a6;
	font-size: 17px;
	letter-spacing: 2.5px;
}
