.sectionContent {
	width: calc(100% - 100px);
	max-width: 1200px;
	margin-right:auto;
	margin-left: auto;
	text-align: justify;
	letter-spacing: 1px;
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
	.sectionContent {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.content {
	margin:50px;
	position:relative;
}

@media screen and (max-width: 600px) {
	.content {
		margin: 0px;
	}
}

.leftHalf {
	width: 50%;
	margin-right:0;
	float:left;
}

.rightHalf {
	width: 50%;
	float:right;
	margin-left:0;
}

.rightHalf img {
	width: 100%;
}

.bordered {
	border: 1px solid black;
}

@media screen and (max-width: 600px) {
	.bordered {
		border: none;
	}
}

@media screen and (min-width:1001px) {
	.leftHalf.bordered {
		width: calc(50% - 1px);
		border-right:0;
	}
}

@media screen and (max-width: 1000px) {
	.leftHalf {
		width: 100% !important;
	}

	.rightHalf {
		width: 100%;
	}

	.rightHalf.is-image {
		max-width: 400px;
		float:none;
		margin-left:auto;
		margin-right:auto;
	}

	.squareBox.leftHalf {
		margin-bottom: 100px;
	}

	.squareBox.rightHalf {
		margin-top: 100px;
	}
}

@media screen and (max-width: 600px) {
	.squareBox.leftHalf {
		margin-bottom: 50px;
	}

	.squareBox.rightHalf {
		margin-top: 50px;
	}
}

.vertically-centred {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

.section-padded {
	padding-top: 100px;
	padding-bottom: 100px;
}

.full-vertical {
	height: 100vh;
}

.full-horizontal {
	width: 100vw;
}

.color-bg-light {
	background-color: #f8f8f9;
}

.color-bg-dark {
	background-color:#848a90;
}

.headwrapper {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
} 

.headwrapper .letters {
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    font-weight:bold;
	font-size: 40px;

}

@media screen and (max-width: 600px) {
	.headwrapper .letters {
		font-size: 20px;
	}
}
@media screen and (max-width: 460px) {
	.headwrapper .letters {
		font-size: 17px;
	}
}

.headwrapper .stretch {
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

h2 {
	font-size: 25px;
	position: relative;
    display: inline-block;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    left: 50%;
    font-weight: normal;
    letter-spacing: 8px;
    transform: translateX(-50%);
    text-transform: uppercase;

    margin-bottom: 70px;
}

@media screen and (max-width: 450px) {
	h2 {
		font-size: 17px;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
}

body {
	margin:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	overflow-x:hidden;
	font-size: 17px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}	
}


/* SPECIFIC*/

#jumbotron {
	background-image: url(../images/Home/HeaderPicture.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment:fixed;

}

#jumbotron .main-title {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	text-align: center;
	opacity: 0.9;
}

#jumbotron .main-title img {
	width: 70vw;
	max-width: 600px;
}

#jumbotron .header-arrow {
	position:absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

#jumbotron .header-arrow img {
	width: 10vw;
	max-width: 100px;
}

#portfolio {
	margin-left: auto;
	margin-right: auto;
}

#portfolio .imgWrap {
	display: inline-block;
}

#portfolio ul {
	list-style-type: none;
	padding-left:0;
	width: 1500px;
	margin-left:auto;
	margin-right: auto;
}

#portfolio ul li {
	display: inline-block;
	position:relative;
	margin: 48px;
}

#portfolio ul li img {
	width: 400px;
}

#portfolio span.hovercover {
	background: rgba(0,0,0,0.7);
	color: white;
	cursor: pointer;
	display: table;
	height: 400px;
	left: 0;
	position: absolute;
	top: 0;
	width: 400px;
	font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0;
    -webkit-transition: opacity 300ms;
	 -moz-transition: opacity 300ms;
	 -o-transition: opacity 300ms;
	 transition: opacity 300ms;
}

#portfolio span.hovercover span {
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
}

#portfolio li:hover span.hovercover {
	opacity:1;
	-webkit-transition: opacity 300ms;
	 -moz-transition: opacity 300ms;
	 -o-transition: opacity 300ms;
	 transition: opacity 300ms;
}

@media screen and (max-width: 1500px) {
	#portfolio ul {
		width: 1000px;
	}
}
@media screen and (max-width: 1000px) {
	#portfolio ul {
		width: 500px;
	}
}
@media screen and (max-width: 600px) {
	#portfolio ul {
		width: 100%;
	}

	#portfolio ul li {
		left: 50%;
		transform: translateX(-50%);
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin: 10px;
	}

	#portfolio ul li img {
		max-width: 350px;
		width: 100%;
	}
	#portfolio span.hovercover {
		display: none;
	}
}

#about {
	color: #848a90;
}

#aboutBox-left {
	position: relative;
}

#about .socialmediaicons {
	position: absolute;
    bottom: 0;
    left: 50%;
   transform: translate(-50%, 50%);
}

#about .socialmediaicons img {
	display: inline-block;
	width: 55px;
	height: 55px;
}

#about .socialmediaicons ul {
	padding-left: 0;
}

#about .socialmediaicons li {
	list-style-type: none;
	display: inline;
	padding-right: 25px;
}

@media screen and (min-width: 1000px) {

	#about .leftHalf {
		width: 60%;
	}

	#about .rightHalf {
		width: 40%;
	}

	#about .bordered {
		border: 1px solid #848a90;
	}
	#about .bordered.leftHalf {
		border-right: none;
		width:calc(60% - 1px);
	}

	#about .content p {
		line-height: 30px;
	}
}

@media screen and (max-width: 600px) {
	#about .socialmediaicons {
		position: static;
		transform: none;
	}

	#about .socialmediaicons li {
		padding-right: 5px;
	}
	#about .socialmediaicons img {
		width: 30px;
		height: 30px;
	}
}

#specializations .spec-container {
	width: 100%;
	color: #dadcdd;
}

#specializations .spec-container .label {
	float:left;
	font-weight:bold;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 6px;
	width: 100%;

	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	padding-bottom: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#specializations .spec {
	margin: 50px;
}

@media screen and (max-width: 1200px) {
	#specializations .spec-container .label {
		font-size: 20px;
	}
}
@media screen and (max-width: 1100px) {
	#specializations .spec-container .label {
		font-size: 17px;
	}
}
@media screen and (max-width: 1000px) {
	#specializations .spec-container .label {
	}

	#specializations .spec {
		margin: 0;
	}
}
@media screen and (max-width: 600px) {
	#specializations .spec-container .label {
		font-size: 14px;
		letter-spacing: 3px;
	}
}

#specializations .spec-container img {
	display: inline-block;
}

#responsive {
	background-image: url(../Images/Home/skills/responsive.png);
}

#prototyping {
	background-image: url(../Images/Home/skills/prototyping.png);
}

#interaction {
	background-image: url(../Images/Home/skills/finger.png);
	padding-bottom:15px;
	margin-bottom:5px;
}

#storytelling {
	background-image: url(../Images/Home/skills/storytelling.png);
}




